.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 129px;
  left: 230px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.sidebarDark {
  height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1f2937;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
}

.sidebarLight {
  height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  color: rgb(34, 31, 31);
}

.showSidebar {
  position: fixed;
  left: 0;
  width: 0px;
  transition: width 0.5s ease;
  top: 129px;
  z-index: 2;
}

.sidebarToggle {
  width: 230px;
}

.sidebarToggle > aside > div {
  display: block;
}

.sidebarDark > div {
  margin: 1.75em;
  display: flex;
  align-items: center;
  display: none;
  color: #fff;
  cursor: pointer;
}

.sidebarLight > div {
  margin: 1.75em;
  display: flex;
  align-items: center;
  display: none;
  color: #1f2937;
  cursor: pointer;
}

.sidebarIcon {
  font-size: 1.5rem;
  margin: 0em 0.6em 0.3em 0em;
  vertical-align: middle;
}

.sidebarBtnDark {
  border: none;
  background: none;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  margin: 0.25em 0em 0em 1.2em;
  align-self: flex-start;
}

.sidebarBtnLight {
  border: none;
  background: none;
  font-size: 1.7rem;
  cursor: pointer;
  color: #333;
  margin: 0.25em 0em 0em 1.2em;
  align-self: flex-start;
}

@media screen and (max-width: 679px) {
  .showSidebar {
    top: 175px;
  }

  .menu {
    top: 175px;
  }
}

@media screen and (max-width: 525px) {
  .showSidebar {
    top: 165px;
  }

  .menu {
    top: 165px;
  }
}

@media screen and (max-width: 600px) {
  .sidebarBtnLight {
    display: block;
  }

  .sidebarBtnDark {
    display: block;
  }
}
