.nav_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.brandImg {
  max-width: 120px;
  width: 29%;
}

a {
  display: block;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hamburgerBtn {
  font-size: 2rem;
  align-self: center;
  margin: 0em 1em 0em 0em;
  cursor: pointer;

  border: none;
  background: none;
}

.hamburgerBtnDark {
  color: #fff;
}

.hamburgerBtnLight {
  color: #333;
}

.brandContainer {
  display: flex;
}

.themeBtnDark {
  border: none;
  background: none;
  font-size: 1.7rem;
  cursor: pointer;
  color: white;
}

.themeBtnLight {
  border: none;
  background: none;
  font-size: 1.7rem;
  cursor: pointer;
  color: #333;
}

@media screen and (max-width: 679px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar > div {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  a {
    display: none;
  }

  .themeBtnDark {
    display: none;
  }

  .themeBtnLight {
    display: none;
  }
}
