.playlistsContainer {
  min-height: 100vh;
  margin-top: 8em;
  display: flex;
  flex-direction: column;
}

.playlistsContainer h1 {
  margin: 2em 0em 0em 1em;
}

.playlistsDark {
  border: 1px solid #1f2937;
  background-color: #15202b;
  color: #f3f4f6;
}

.playlistsLight {
  border: 1px solid rgba(250, 250, 250, 0.494);
  background-color: rgba(250, 250, 250, 0.494);
  color: #1f2937;
}

.playlistsVideos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 2em;
}

.playlistName {
  margin: 0.5em 0em 0em 1em;
  font-size: 1.4rem;
  font-weight: 700;
}

.playlistsWrapper {
  padding: 1em;
  margin: 2em;
  border-radius: 0.3em;
}

.playlistWrapperDark {
  background-color: #1f2937;
}

.playlistWrapperLight {
  background-color: #ddd;
}

.playlistVidsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.playlistMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin: 1em;
}
