.thumbnail {
  /* height: 340px; */
  /* margin: 2em 1em; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.5em;
  position: relative;
  max-width: 400px;
}

.thumbnailDark {
  background-color: #192734;
}

.thumbnailLight {
  background-color: #fff;
}

.thumbnailTitle {
  margin: 0.5em;
  font-size: 1rem;
  font-weight: 600;
}

.imgDiv {
  width: 100%;
  border-radius: 0.5em;
  cursor: pointer;
}

.thumbnailDesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0.2em;
}

.thumbnailbtn {
  background: none;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  padding: 0.2em;
  border-radius: 0.2em;
}

.thumbnailBtnDark {
  color: #fff;
}

.thumbnailBtnDark:hover {
  background-color: #a5a9af85;
}

.thumbnailBtnLight {
  color: #333;
}

.thumbnailBtnLight:hover {
  background-color: rgb(221, 221, 221);
}

.thumbnailDetails {
  border: 2px solid #ddd;
  min-width: 170px;
  width: 80%;
  border-radius: 0.2em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  transform: translate(3.3rem, -1.1rem);

  position: absolute;
  right: 60px;
  z-index: 2;
}

.thumbnailDetailsList {
  width: 100%;
  height: auto;
  padding: 0.35em 1em;
  flex: 1;
}

.thumbnailDetailsList > span {
  font-weight: 700;
}

.thumbnailDetailsListDark {
  background-color: #192734;
  color: #fff;
}

.thumbnailDetailsListLight {
  background-color: #fff;
  color: #333;
}

.thumbnailDetailsList:hover {
  background-color: rgb(136, 136, 136);
}

.thumbnailDetailsListIcon {
  font-size: 1.5rem;
  transform: translateY(3px);
  margin-right: 5px;
}

@media screen and (max-width: 380px) {
  .thumbnailDetails {
    transform: translate(1.3rem, -2.8rem);
  }
}
